
#content{
	height:450px;/*临时高度*/
}
#bread_nav{
	width:1204px;
	height:20px;
	padding:0 0 4px 6px;
	margin-bottom:10px;
}
#bread_nav h3,#bread_nav ul,#bread_nav li{
	float:left;

}
#bread_nav a:hover{
	color:#cd2a2c;
	text-decoration:underline;
	
}
#bread_nav li{
	margin:0 3px;
	margin-top:6px;
}
#bread_nav h3{
	margin-right:3px;
	font-size:18px;
	font-family:"微软雅黑";
}
#product_info{
	height:450px;
	
}
#product_img{
	position:absolute;
	
}
#datu{
	width:35px;
	height:350px;
	margin-bottom:5px ;
	
}
#xiaotu{
	width:352px;
	height:54px;
	position:relative;

}
.xt_left,.xt_right{
	width:17px;
	height:54px;
	background:url(../images/iconlist_1.png);
	position:absolute;
}
.xt_left{
	top:0px;
	left:0px;
	background-position:0 -139px;
}

.xt_left:hover{
 background-position:-34px -139px;
}
.xt_right{
    top:0px;
    right:0px;
    background-position:-17px -139px;
}
.xt_right:hover{
	background-position:-51px -139px;
	}
.left_disabled,.left_disabled:hover{
	background-position:-68px -139px;
}
/**.right_disabled,.right_disabled:hover{
	background-position:-85px -139px;;
}**/
.prd_content{
	width:600px;
	height:800px;
	margin-left:365px;


}
#xiaotu li{
	float:left;
	padding:1px;
	margin-right:12px;
	border:1px solid #cecfce;
}
#xiaotu li:hover{
	border:2px solid #cecfce;
	cursor:pointer;
	padding:0px;

}
#xiaotu img{
	width:48px;
	height:48px;
}
#suoluetu{
	width:310px;
	height:60px;
	margin-left:21px;
	overflow:hidden;
}
#suoluetu ul{
	width:520px;
}
.prd_title{
	width:840px;
	font:700 16px/1.5em Arial,Verdana,"微软雅黑";
	padding-bottom:10px;
	border-bottom:1px dotted #ccc;
	overflow:hidden;
	
}
.prd_title dd{
	color:#e4393c;
}
.prd_text{
	width:600px;
	padding:10px 0;
	line-height:18px;

}
.prd_text a{
	color:#005aa0;
}
.prd_line{
	padding:8px 0;
	height:20px;
	
}
.prd_left,.prd_right{
	float:left;
}
.prd_left{
	width:72px;
	font-family:simsun;
	text-align:right;
	height:23px;
	line-height:23px;
}
.prd_right{
	width:524px;
	line-height:23px;
}
#price{
	color:#e4393c;
	font-weight:bold;
	font-size:18px;
}
#prd_stars{
	margin:3px 5px 0 0;
	background:url(../images/iconlist_1.png) -109px -239px no-repeat;
	width:75px;
	height:14px;
	display:inline-block;
}
.prd_text .liuyan{
	margin:-3px 0 0 5px;
	padding-left:27px;
	height:24px;
	width:59px;
	display:inline-block;
	color:#ccc;
	background:url(../images/words.png) no-repeat;
}
#dizhi,.dz_text{
    float:left;
	
}

#youhuo{
	font-size:14px;
	font-weight:bold;
}
#songda{
	font-weight:bold;
}
#dizhi_kuang{
	height:23px;
	background:#fff;
	border:0 20px 0 4px;
	margin-right:10px;
	padding-right:18px;
	border:1px solid #cecbce;
	position:relative;
	z-index:9;
}
#dizhi_kuang i{
    width:17px;
	height:24px;
	position:absolute;/*加了绝对定位他就可以变成一个块元素*/
	top:0px;
	right:0px;
	background:url(../images/iconlist_1.png) -262px -188px;
}
#dizhi{
	position:relative;
}
#store_content{
	position:absolute;
	border:1px solid #CECBCE;
	width:390px;
	background:#fff;
	box-shadow:0 0 5px #ddd;
	left:-40px;
	top:25px;
	z-index:29;
	display:none;
}
#store_tabs{
	position:relative;
	width:90%;
	height:26px;
	border-bottom:2px solid #EDD28B;
	margin:10px auto 0 auto;
}
#store_tabs li{
	padding:0 10px;
	float:left;
	height:24px;
	border:1px solid #ddd;
	border-bottom:0;
	margin-right:3px;
	cursor:pointer;
	color:#005AA0;
}
#store_tabs li.hover{
	border:2px solid #EDD28B;
	border-bottom:2px solid #fff;
}
#store_items{
	padding-top:10px;
	padding-left:10px;
	margin-left:10px;
}
#store_items li{
	float:left;
	width:80px;
	cursor:pointer;
	color:#005aa0;
}
#store_items li a{
	padding:2px 5px;
}
#store_items li a:hover{
	background:#005aa0;
	color:#fff;
	text-decoration:none;
}
/*关闭图标*/
#store_close{
	position:absolute;
	z-index:30;
	top:20px;
	left:341px;
	width:17px;
	height:17px;
	background:url(Images/iconlist_1.png) no-repeat -257px -86px;
	cursor:pointer;
}

.dizhi_x{
	position:absolute;
	top:-7px;
	right:-7px;
	width:17px;
	height:17px;
	background:url(../images/iconlist_1.png) no-repeat -257px -86px;
	
}


.xianshida,.xiankuan,.ziti{
	height:16px;
	margin-right:5px;
	background:url(../images/promise.png) no-repeat;
	display:inline-block;
	
}
.xianshida{
	width:78px;
	background-position:0 -64px;
}
#choose{
 width:600px;
 border-top:1px dotted #ddd;
 padding-top:10px;
 float:left;
}
#choose li p{
 width:63px;
 font-family:"微软雅黑";
 text-align:right;
 float:left;
 height:23px;
 line-height:23px;
 
}
#choose_color a{
 float:left;
 position:relative;
 margin-right:8px;
 padding:1px 8px;
 border:1px solid #ddd;
}
#choose_color a img{
	vertical-align:middle;
}
#choose_color a.selected{
	border:2px solid #e4393c;
}
#choose span{
	color:black;
}
#choose_color a.selected b{
	display:block;
	position:absolute;
	bottom:0;
	right:0;
	width:16px;
	height:16px;
	background-image:url(../images/iconlist_1.png);
	background-position:-199px -222px;
}
#btn_reduce{
background:url(../images/iconlist_1.png) no-repeat -109px -239px;
}
#choose_btns a{
    clear:left;
    height:38px;
	float:left;
	margin:20px 6px 0 40px; ;
	background-image:url(../images/iconlist_4.png);
}
#choose_btns a.choose_btn_append{
    width:136px;	
}
#juzhong{
    width:1211px;
	height:4750px;
	margin:0 auto;
	}
#left_product{
    margin-top:20px;
    width:210px;
    float:left;
	clear:both;
}
#left_product div>p{
    height:20px;
	border:1px solid #ddd;
	background-color:#F7F7F7;
	padding:8px 8px;
	font-size:14px;
	line-height:20px;
}
#left_product div.fenlei{
    margin-bottom:10px;
}
#left_product div.fenlei ul{
    border:1px solid #ddd;
    padding:4px;
	border-top:0px;
	overflow:hidden;
	/**overflow:hidden;**/
}
#left_product div.fenlei ul li{
	float:left;
    width:100px;
    height:20px;
	line-height:20px;
}
#left_product div.fenlei ul li a:hover{
    color:#e4393c;
	text-decoration:underline;
} 
#left_product div.last_buy p{
	text-align:center;
}
#left_product div.last_buy ul{
	border:1px solid #ddd;
	border-top:0;
}
#left_product div.last_buy ul p{
	text-align:center;
	margin-bottom:10px;
}
#left_product div.last_buy ul li{
    border-bottom:1px dotted #dedede;
	padding-top:10px;
	padding-bottom:10px;
}
#left_product div.last_buy ul li>a{
    text-align:center;
	display:block;
	padding-bottom:8px;
}
#left_product div.last_buy ul li>a:hover{
    color:#e4393c;
	text-decoration:underline;
}
#left_product div.last_buy ul h2{
	text-align:center;
}
#left_product div.last_buy ul h2>a{
	color:#e4393c;
}
#left_product div.last_buy ul h2>a:hover{
    text-decoration:underline;
}
.other_products ul li{
	margin-bottom:15px;
}
#right_product{
    width: 989px;
    margin-top: 20px;
    margin-left: 12px;
}
.rt{
    float:right;
}
#favorite_suit{
    height:212px;
}
#favorable_suit div.m_content,#comment div.m_content,#advice div.m_content
{
	border-top:0px;
	padding:20px;
	overflow:hidden;
	border:1px solid #ddd;
}
.main_tabs{
    height:30px;
	line-height:30px;
    background-color:#F7F7F7;
	border:1px solid #DEDEDE;
	border-top:2px solid #999;
	padding:0 8px;
	font-size:14px;
	color:#5E7270;
}
div.master{
    width:155px;
	float:left;
	position:relative;
}
div.m_content p{
    width:100px;
}
b.add{
    float:right;
    width:24px;
	height:25px;
	background:url(../images/iconlist_1.png) no-repeat 0px -257px;
	margin-top:40px;
}
ul.suit{
    width:529px;
    float:left;
}
ul.suit li{
    width:145px;
	margin-left:20px;
    float:left;
}
.info{
    float:left;
	width:180px;
	padding-left:20px;
}
.info p{
    line-height:18px;
	color:#999;
	font-size:12px;
}
.info span{
    float:left;
	width:23px;
	height:17px;
	background:url(../images/iconlist_1.png) no-repeat -31px -264px;
	margin-top:52px;
	margin-left:-33px;
}
.info h1{
    height:36px;
	line-height:36px;
	margin-bottom:10px;
}
.info h1 a{
	color:#005AA0;
	font-weight:bold;
	font-size:20px;
}
.info h1 a:hover{
	text-decoration:underline;
}
.info p b.suit_price{
    color:#e4393c;
	font-weight:bold;
}
.info p b.jd_price{
    text-decoration:line-through;
}
.info div.btns{
    width:78px;
	height:26px;
	margin-left:2px;
	background-color:#e4393c;
	border-radius:3px;
	text-align:center;
	color:#fff;
	line-height:26px;
}
.info div.btns a{
    color:#fff;
}
#product_detail{
    margin-top:5px;
	clear:both;
}
ul.main_tabs li{
    float:left;
}
ul.main_tabs li.current1{
    height:35px;
	margin-top:-4px;
	margin-left:-9px;
	background-color:#fff;
	border-top:2px solid #e4393c;
	border-right:1px solid #ddd;
	border-left:1px solid #ddd;
}
.main_tabs li a{
    padding:0 15px;
	height:30px;
	line-height:30px;
}
.main_tabs li.current1 a{
    color:#e4393c;
}
ul.detail_list{
    padding:8px;
	border:1px solid #ddd;
	border-top:none;
	height:80px;
}
ul.detail_list li{
    width:33%;
	float:left;
	padding:5px 0px;
}
div.detail_content{
    text-align:center;
	margin-top:10px;
}
.dotted_split{
    width:750px;
	margin:0 auto;
	border-bottom:1px dashed #ddd;
	padding:5px;
	margin-bottom:10px;
}
.jd_split{
    border:0px;
	font-size:14px;
	padding:5px;
	margin-bottom:10px;
}
.jd_split b{
    font-size:30px;
	color:#e4393c;
}
.jd_split span{
    color:#666;
}
/***规格参数**/
#product_data{
	width:100%;
	border:1px solid #ccc;
	border-collapse:collapse;
	margin:20px 0px;
}
#product_data td{
	border:1px solid #ccc;
	text-align:left;
	padding:2px 5px;
	font-size:12px;
}
#product_data th{
	background-color:#F5FAFE;
	color:#666;
	font-weight:bold;
	padding:5px;
}
#product_data tbody tr td:first-child{
	width:120px;
	text-align:right;
	background-color:#F5FAFE;
}
/*服务承诺*/
#promise,#state{
	padding:10px 0px;
	border-top:1px dotted #ccc;
}
#promise p,#state p{
	margin-top:5px;
	margin-bottom:10px;
}
#state span{
	font-weight:bold;
	color:#e4393c;
}
#taolun{
	width:990px;
	height:393px;
	background:url(../images/tab.png) repeat-x 0px -40px;
	
}
.tabs{
	height:30px;
	border-left:1px solid #dedfde;
	border-right:1px solid #dedfde;
	border-top:1px solid #dedfde;
	background:#fff;
}
#taolun_list td{
	border-bottom:1px dotted #dedede;
	padding:6px 0;
	text-align:center;
	color:#9c9a9c;
	
}
#taolun_list .tl_th{
	border-bottom:1px solid #dedfde;
	font-weight:bold;
	height:18px;
	color:#666;
}
#taolun_list{
	width:100%;
	border-bottom:1px solid #dedfde;
}
#taolun_list .left{
	text-align:left;
}
#taolun_list a{
	color:#005aao;
	padding-left:6px;
	text-decoration:none;
}
#taolun_list a:hover{
	text-decoration:underline;
}
.shai, .lun{
	padding:2px 10px;
	background:url(../images/iconlist_1.png) no-repeat -110px -220px;
	}
.tabs ul{
	margin:0px;
	padding:0px;
	list-style:none;/*去掉列表的项目符号*/

}
.tabs li{
	float:left;/*让li在同一行*/
	font:14px "微软雅黑";
	width:96px;
	height:32px;
	line-height:34px;
	/*border:1px solid red;*/
	text-align:center;
}
.tabs li a{
	color:#005aa0;
	text-decoration:none;
}
.tabs li a:hover{
	color:#e4393c;
}
.current{
	height:34px;
	/*border-top:2px solid #e4393c;*/
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	border-top:1px solid red;
	margin-top:-4px;
	margin-left:-1px;
}
.tabs .current a{
  color:#e4393c;
}

































